.time-tracking-dashboard {
  height: 40rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 2vw;
}

@media(max-width: 1024px) {
  .time-tracking-dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .header-card {
    grid-row: 1 / span 1;
  }
}